body {
    background: rgb(247, 249, 251);
}
.fb{
    margin: 170px 0px 0px 150px;
    float: left;
}
.fb h1 {
    color: #1877f2;
    font-size: 65px;
    font-weight: bold;
}

.fb p {
    margin-top: -40px;
    font-size: 30px;
}
.body{
    float: right;
    padding: 15px;
    margin: 130px 150px 20px 0px;
    border-radius: 5px;
}

form input{
width: 350px;
height: 50px;
border-radius: 5px;
border: 1px solid gray;
padding-left: 10px;
}

form button {
    width: 350px;
    height: 50px;
    background: #1877f2;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    border: 1px solid #1877f2;
}

.password{
    text-align: center;
    color: #1877f2;
    margin: 18px 0px 18px 0px;
    text-decoration: none;
}
.password a {
    text-decoration: none;
}
 /* .password:hover{
    color: aliceblue;
 } */

 .bda {
    text-align: center;
    background: rgb(6, 195, 6);
    padding: 9px;
     margin: 5px 80px 5px 80px;
    border-radius: 8px;
    font-size: 24px;
 }
.bda a{
    text-decoration: none;
    color: white;
}
.bda:hover{
    opacity: 0.8;
}

.demo1{
    color: blue;
    margin-bottom: 5px;
}
.demo{
    float: right;
    margin-right: 50px;
    margin-bottom: 50;
    border: 10px solid rgba,(225, 225, 0.966);
}
#email{
    width: 300px;
    border: 1px solid ;
}
#login{
    color: white;
    background-color: rgb(0, 60, 225);
    width: 200px;
    border-radius: 5px;
}

